* {
  box-sizing: border-box;
}

.container {
  background-color: #1c1b1e;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.albumBox {
  background-color: rgba(230, 225, 230, 0.5);
  width: 90%;
  height: 90%;
  border-radius: 10px;
  margin: 0 auto;
  padding : 30px;
  box-shadow: #000 5px 5px 5px 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
}

.photo {
  width: 300px;
  height: 250px;
  background-color: #fffbff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.photo:hover {
  box-shadow: rgba(28, 27, 30, 0.5) 5px 5px 5px 5px;
}

.photo img{
  width: 100%;
  
}

.modalImg {
  height: 70%;
}